/* banner */
#banner {
    display: block;
    margin: auto;
    padding: 0;
    max-width: 1440px;
    height: min(75vw, 480px);
    background-image: url("/assets/banner-wide.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: calc(100% * .86);
}
#banner-content {
    display: inline-block;
}
#banner-content h1 {
    /* 30px @ 416vw */
    font-size: min(7.21vw, 48px);
    width: min(62vw, 600px);
    font-weight: bold;
    font-stretch: extra-expanded;
    text-transform: uppercase;
    color: white;
    /* 48px 24px @ 416vw */
    margin: min(11.54vw, 64px) min(5.77vw, 64px);
    padding: 0;
}
#banner-content h2 {
    /* 16px @ 416vw */
    font-size: min(3.85vw, 32px);
    font-weight: bold;
    font-stretch: expanded;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    /* 16px 24px @ 416vw */
    margin: min(3.85vw, 24px) min(5.77vw, 64px);
    padding: 0;
}

/* hook strip */
#hook-strip {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 6px;
}
