/* banner */
#banner {
    display: block;
    margin: auto;
    padding: 0;
    max-width: 1440px;
    height: min(75vw, 480px);
    background-image: url("/assets/banner-wide.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: calc(100% * .85);
}
#banner-content {
    display: inline-block;
}
#banner-content h1 {
    /* 30px @ 416vw */
    font-size: min(7.21vw, 48px);
    width: min(62vw, 600px);
    font-weight: bold;
    font-stretch: extra-expanded;
    text-transform: uppercase;
    color: white;
    /* 48px 24px @ 416vw */
    margin: min(11.54vw, 64px) min(5.77vw, 64px);
    padding: 0;
}
#banner-content h2 {
    /* 16px @ 416vw */
    font-size: min(3.85vw, 32px);
    font-weight: bold;
    font-stretch: expanded;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    /* 16px 24px @ 416vw */
    margin: min(3.85vw, 24px) min(5.77vw, 64px);
    padding: 0;
}

/* card strip */
#card-strip {
    /* border: 1px solid green; */
    container-type: inline-size;
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#card-strip .wrapper {
    /* border: 1px solid green; */
    container-type: inline-size;
    box-sizing: border-box;
    width: 25%;
    display: grid;
}
.icon-card {
    /* border: 1px solid green; */
    margin: auto;
    width: 513px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-card i {
    /* border: 1px solid green; */
    margin: 4px;
    font-size: 48px;
    width: 48px;
    text-align: center;
    flex: none;
}
.icon-card p {
    /* border: 1px solid green; */
    margin: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
/* hokay so... can I figure these out with code if I give the sizes as data tags??? */
/* or even better do text measurement to figure out the optimal snaps??? */
/* setting wrapping individually to ensure elements line up with different text sizes */
@container (width < 736px) {
    #card-strip .wrapper {
        width: 50%;
    }
}
@container (width < 367px) {
    #card-strip .wrapper {
        width: 100%
    }
}
/* 2 lines */
@container (width < 515px) {
    .icon-card {
        width: 277px;
    }
    #magnifier-card p {
        max-width: 213px;
    }
    #beaker-card p {
        max-width: 208px;
    }
    #gear-card p {
        max-width: 193px;
    }
    #leaf-card p {
        max-width: 188px;
    }
}
/* 3 lines */
@container (width < 312px) {
    .icon-card {
        width: 219px;
    }
    #magnifier-card p {
        max-width: 146px;
    }
    #beaker-card p {
        max-width: 135px;
    }
    #gear-card p {
        max-width: 155px;
    }
    #leaf-card p {
        max-width: 148px;
    }
}
/* vertical stack */
@container (width < 240px) {
    .icon-card {
        flex-direction: column;
        width: 180px;
    }
    .icon-card p {
        text-align: center;
    }
}