/* banner */
#banner {
    display: block;
    margin: auto;
    padding: 0;
    max-width: 1440px;
    height: min(57.14vw, 480px);
    background-image: url("/assets/banner-wide.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: calc(100% * .80);
}
#banner-content {
    display: inline-block;
}
#banner-content h1 {
    font-size: min(5.71vw, 48px);
    font-weight: bold;
    font-stretch: extra-expanded;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    margin: 2em 1.33em 1em;
    padding: 0;
}
#banner-content h2 {
    font-size: min(3.81vw, 32px);
    font-weight: bold;
    font-stretch: expanded;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    margin: .83em 2.0em;
    padding: 0;
}

/* card strip */
#card-strip {
    /* border: 1px solid green; */
    container-type: inline-size;
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#card-strip .wrapper {
    /* border: 1px solid green; */
    container-type: inline-size;
    box-sizing: border-box;
    width: 25%;
    display: grid;
}
.icon-card {
    /* border: 1px solid green; */
    margin: auto;
    width: 513px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-card i {
    /* border: 1px solid green; */
    margin: 4px;
    font-size: 48px;
    width: 48px;
    text-align: center;
    flex: none;
}
.icon-card p {
    /* border: 1px solid green; */
    margin: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
/* hokay so... can I figure these out with code if I give the sizes as data tags??? */
/* or even better do text measurement to figure out the optimal snaps??? */
/* setting wrapping individually to ensure elements line up with different text sizes */
@container (width < 736px) {
    #card-strip .wrapper {
        width: 50%;
    }
}
@container (width < 367px) {
    #card-strip .wrapper {
        width: 100%
    }
}
/* 2 lines */
@container (width < 515px) {
    .icon-card {
        width: 310px;
    }
    #magnifier-card p {
        width: 242px;
    }
    #beaker-card p {
        width: 236px;
    }
    #gear-card p {
        width: 219px;
    }
    #leaf-card p {
        width: 213px;
    }
}
/* 3 lines */
@container (width < 312px) {
    .icon-card {
        width: 238px;
    }
    #magnifier-card p {
        width: 166px;
    }
    #beaker-card p {
        width: 153px;
    }
    #gear-card p {
        width: 170px;
    }
    #leaf-card p {
        width: 165px;
    }
}
/* vertical stack */
@container (width < 240px) {
    .icon-card {
        flex-direction: column;
        width: 180px;
    }
    .icon-card p {
        text-align: center;
    }
}