@import url('/assets/roboto-flex/css/roboto-flex.css');
@import url('/assets/fontawesome/css/fontawesome.css');
@import url('/assets/fontawesome/css/regular.css');
@import url('/assets/fontawesome/css/solid.css');
@import url('/assets/fontawesome/css/brands.css');

/* design for mobile first, then use media queries to adjust to desktop! */

/* set global font */
body {
    font-family: 'Roboto Flex', sans-serif;
    font-optical-sizing: auto;
}

/* never decorate links */
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

/* page header */
.page-header {
    display: flex;
    align-items: center;
}
#open-sidenav {
    background: none;
    color: inherit;
    font: inherit;
    outline: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 2em;
    margin: .67em;
}
.page-header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

/* sidenav */
#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.2s ease-out;
    display: flex;
    flex-direction: column;
    background-color: white;
}
#sidenav button {
    background: none;
    color: inherit;
    font: inherit;
    outline: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 2em;
    margin: .67em;
    align-self: end;
}

/* icon card */
.icon-card {
    margin: auto;
    padding: 6px;
    white-space: nowrap;
    width: fit-content;
}
.icon-card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-card-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon-card i {
    margin: 4px;
    font-size: 48px;
    width: 48px;
    text-align: center;
    flex: none;
}
.icon-card p {
    margin: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

/* collapsible */
.collapsible {
    border-width: medium 0px;
    border-style: solid;
    border-color: lightgray;
}
.collapsible .toggle {
    width: 100%;
    cursor: pointer;
    background-color: inherit;
    text-align: left;
    font: inherit;
    border: none;
}
.collapsible .toggle::after {
    content: "\02C5";
    float: right;
}
.collapsible .toggle.active::after {
    content: "\02C4";
}
.collapsible .collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.collapsible .header {
    font-weight: bold;
    font-size: 24px;
    margin: 16px;
}
.collapsible .content {
    margin: 16px;
}

/* nutrition facts */
.nutrition-facts {
    font-family: 'Helvetica', sans-serif;
    display: flow-root;
}
.nutrition-facts .outline {
    display: inline-block;
    border: 1px solid black;
    padding: 4px;
}
.nutrition-facts h1 {
    font-style: bold;
    font-size: 32px;
    margin: 1px 4px;
}
.nutrition-facts h2 {
    font-style: bold;
    font-size: 16px;
    margin: 1px 4px;
}
.nutrition-facts table {
    border-collapse: collapse;
    border-top: 16px solid black;
    border-bottom: 16px solid black;
    width: 100%;
}
.nutrition-facts th {
    font-style: bold;
    font-size: 12px;
    text-align: right;
    border-bottom: 10px solid black;
    padding: 1px 4px;
}
.nutrition-facts td {
    font-style: normal;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1px 4px;
}
.nutrition-facts td p {
    float: left;
    font-size: inherit;
    margin: 0px;
    padding: 0px;
}
.nutrition-facts td p+p {
    float: right;
    font-size: inherit;
    margin: 0px 0px 0px 16px;
    padding: 0px;
}
.nutrition-facts tr.separator {
    border-top: 16px solid black;
    border-bottom: 16px solid black;
}
.nutrition-facts .footnotes {
    font-size: 10px;
    margin: 0px;
    padding: 1px 4px;
}
.nutrition-facts .footnotes p {
    float: left;
    font-size: inherit;
    margin: 0px;
    padding: 0px;
}
.nutrition-facts .footnotes p+p {
    float: right;
    font-size: inherit;
    margin: 0px 0px 0px 16px;
    padding: 0px;
}