.facts-div {
    border: solid 1px black;
    padding: 4px;
    display: inline-block;
}
.facts-table {
    border-collapse: collapse;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 2em;
}
.title {
    font-size: 100%;
    font-style: bold;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px
}
.subtitle {
    font-size: 50%;
    font-style: bold;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px
}
.header-row {
    font-size: 36%;
    font-style: bold;
    text-align: right;
}
.content-row {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 50%;
    font-style: normal;
}
.name-cell {
    text-align: left;
    padding-left: 4px;
    padding-right: 8px;
}
.serving-cell {
    text-align: right;
    padding-left: 8px;
    padding-right: 8px;
}
.dv-cell {
    text-align: right;
    padding-left: 8px;
    padding-right: 4px;
}
.footer {
    font-size: 32%;
    font-style: normal;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
}
.thick-separator {
    font-size: 36%;
    background-color: black;
}
.mid-separator {
    font-size: 16%;
    background-color: black;
}