@import url('/common/common.css');

#comp-table {
  position: relative;
  z-index: 0;
  border-spacing: 0;
}
#comp-table th,
#comp-table td {
  padding: 2px 8px;
}

#comp-table thead th:first-child {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: left;
  background-color: var(--highlight-bg-color);
  color: var(--main-bg-color);
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: var(--main-bg-color);
}
#comp-table thead th:not(:first-child) {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: right;
  background-color: var(--highlight-bg-color);
  color: var(--main-bg-color);
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: var(--main-bg-color);
}

#comp-table tbody th {
  position: sticky;
  left: 0;
  z-index: 1;
  text-align: left;
  background-color: var(--highlight-bg-color);
  color: var(--main-bg-color);
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: var(--main-bg-color);
}
#comp-table tbody td {
  text-align: right;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: var(--highlight-bg-color);
}

#comp-table tbody td:nth-child(2n+3) {
  background-color: var(--alt-bg-color);
}